.Sidebar {
  grid-area: sidebar;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position: relative;
  text-align: left;
  padding: 20px;
}

.Sidebar .charity-name {
  font-family: "Work Sans";
  font-size: 60px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.Sidebar .charity-description {
  width: 400px;
}

.Sidebar .total-donated {
  width: 400px;
  margin-top: 25px;
}

.Sidebar .brand-link {
  text-decoration: none;
  color: initial;
}

.Sidebar .brand {
  font-family: Spectral;
  letter-spacing: -1px;
  margin-top: 5px;
  margin-bottom: 5px;
}